<?xml version="1.0" encoding="utf-8"?>
<launch>

  
  <include file="$(find sawyer_gazebo)/launch/sawyer_world.launch">
    <arg name="electric_gripper" value="false"/>
  </include>

  <!-- Load configuration-->
  <rosparam file="$(find sawyer_ctrl_stability)/config/inital_config.yaml" command="load"/>
  
  <node pkg="sawyer_ctrl_stability" type="control_node.py" name="control_node" />
  <node pkg="sawyer_ctrl_stability" type="stiffness_manager.py" name="stiffness_manager" />
  <node pkg="sawyer_ctrl_stability" type="trajectory_executor.py" name="trajectory_publisher" />

  <include file="$(find sawyer_ctrl_stability)/launch/specific_launch/debug_Plots.launch">
  </include>

</launch>
