<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- Load configuration-->
  <rosparam file="$(find sawyer_ctrl_stability)/config/inital_config.yaml" />
  
  <!-- Start the Sawyer pick and place demo -->
  <node pkg="sawyer_ctrl_stability" type="control_node.py" name="control_node" />

  <include file="$(find sawyer_ctrl_stability)/launch/debug_Plots.launch">
  </include>

</launch>
